<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meus Empréstimos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='gerenciar_emprestimos.css') }}">
</head>

<body>
    <nav>
        <a href="cliente_dashboard">Início</a>
        <a href="editar">Editar</a>
        <a href="emprestimo">Novo Emprestimo</a>
        <a style="background-color: #052c25; color: white"
            href="{{ url_for('emprestimo.gerenciar_emprestimos' ) }}">Meus Empréstimos</a>
        <a href="{{ url_for('auth.logout' ) }}">Sair</a>
    </nav>
    <h1>Meus Empréstimos</h1>
    {% for item in emprestimos %}
    <div class="emprestimo-container">
        <h2>{{ item.emprestimo.emp_data_ini.strftime("%d/%m/%Y") }}</h2> <!-- Data de início -->
        <p>Data de Devolução: {{ item.emprestimo.emp_dev.strftime("%d/%m/%Y") }}</p> <!-- Data de devolução -->
        <p>Status: {{ item.emprestimo.emp_status }}</p> <!-- Status -->
        <p>Total: R$ {{ item.emprestimo.emp_total }}</p> <!-- Total -->
        <h3>Livros:</h3>
        <ul>
            {% for livro in item.livros %}
            <li>
                <!-- Acessando dados do livro relacionado -->
                Livro ID: {{ livro.eml_liv_id }} | Quantidade: {{ livro.eml_quantidade }} | Preço: R$ {{ livro.eml_preco
                }}
            </li>
            {% endfor %}
        </ul>
        {% if item.emprestimo.emp_status == "Ativo" %}
        <form action="{{url_for('emprestimo.devolver', emp_id=item.emprestimo.emp_id)}}" method="post"
            onsubmit="return confirm('Tem certeza que deseja realizar devolução?')">
            <button type="submit">Devolver</button>
        </form>
        {% endif %}
    </div>
    {% endfor %}

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div id="flash-container">
        {% for category, message in messages %}
        <div class="flash-message {{ category }}">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}


    <script>
        setTimeout(function () {
            var flashContainer = document.getElementById("flash-container");
            if (flashContainer) {
                flashContainer.style.transition = "opacity 0.5s";
                flashContainer.style.opacity = "0";
                setTimeout(() => flashContainer.remove(), 500); //
            }
        }, 3000);
    </script>
</body>

</html>