<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='filtros.css') }}">
    <title>Listar Livros</title>
</head>
<body>
    <nav>
        <a href="{{ url_for('gerente.gerente_dashboard' ) }}">Início</a>
        <a style="background-color: #052c25; color: white" href="{{ url_for('gerente.listar_livros' ) }}">Listar Livros</a>
        <a href="{{ url_for('gerente.listar_clientes' ) }}">Listar Clientes</a>
        <a href="{{ url_for('gerente.listar_emprestimos' ) }}">Listar Emprestimos</a>
    </nav>
    <main class="main">
        <div class="list_titulo">
            <h1>Lista de Livros</h1>
        </div>

        <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Autor</th>
                <th>Editora</th>
                <th>Gênero</th>
                <th>Estoque</th>
                <th>Preço</th>
            </tr>
        </thead>
        <tbody>
            {% for livro in livros %}
                <tr>
                    <td>{{ livro.liv_id }}</td>
                    <td>{{ livro.liv_titulo }}</td>
                    <td>{{ livro.autor.aut_nome }}</td>
                    <td>{{ livro.editora.edi_nome }}</td>
                    <td>{{ livro.genero.gen_nome }}</td>
                    <td>{{ livro.liv_estoque }}</td>
                    <td>R$ {{ livro.liv_preco }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </main>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div id="flash-container">
                {% for category, message in messages %}
                    <div class="flash-message {{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}


    <script>
        setTimeout(function() {
            var flashContainer = document.getElementById("flash-container");
            if (flashContainer) {
                flashContainer.style.transition = "opacity 0.5s";
                flashContainer.style.opacity = "0";
                setTimeout(() => flashContainer.remove(), 500); //
            }
        }, 3000);
    </script>
</body>
</html>